<!DOCTYPE html>
<html>
<head>
  <title>Nicholas Pan - <%= yield_for(:title, "Agile and Creative Software Developer") %></title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">
  <div id="main" class="container clear-top">
    <%= yield %>
  </div>
</div>

<footer class="footer" style="background-color:#EEE;">
test
</footer>
</body>
</html>
